/* Global Color Definitions */

@define-color background rgba(40, 30, 46, 0.9);
@define-color background-dark rgba(20, 20, 20, 0.9);
@define-color border rgba(255, 255, 255, 0.1);

@define-color text #ffffff;
@define-color text-muted #cdd6f4;
@define-color text-dark #333333;

@define-color primary #8257e6;
@define-color secondary #d883ff;
@define-color tertiary #64727d;

@define-color success #b9f27c;
@define-color warning #ffa000;
@define-color critical #ff0000;
@define-color info #0db9d7;

@define-color love #ff6699;
@define-color gold #ffcc66;
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
