window#waybar {
  background-color: rgba(40, 30, 46, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

tooltip {
  background-color: rgba(40, 30, 46, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#clock tooltip {
  background-color: rgba(40, 30, 46, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#taskbar button,
#workspaces button {
  color: #ffffff;
}

#taskbar button.active,
#workspaces button.active {
  background-color: #8257e6;
  color: #ffffff;
}

#taskbar button:hover,
#workspaces button:hover {
  background-color: #d883ff;
  color: #ffffff;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#clock {
  color: #ffffff;
}

#battery.critical:not(.charging) {
  color: #ff0000;
}

label:focus {
  background-color: #000000;
}

#custom-menu {
  color: #ffffff;
}

#custom-keyboard,
#cpu {
  color: #ffffff;
}

#memory {
  color: #ffffff;
}

#backlight {
  color: #cdd6f4;
}

#bluetooth {
  color: #ffffff;
}

#network {
  color: #ffffff;
}

#network.disconnected {
  color: #df3320;
}

#pulseaudio {
  color: #ffffff;
}

#pulseaudio-muted {
  color: #b9f27c;
}

#wireplumber {
  color: #cba6f7;
}

#wireplumber-muted {
  color: #b9f27c;
}

#pulseaudio-source-muted {
  color: #a0a0a0;
}

#custom-swaync {
  color: #ffffff;
}

#custom-power {
  color: #ffffff;
}

#disk {
  color: #ffffff;
}

#custom-power_profile {
  color: #ffffff;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
}

#custom-weather {
  color: #66cc99;
}

#custom-lock {
  color: #ffa000;
}

#keyboard-state,
#temperature {
  color: #0db9d7;
}

#temperature.critical {
  background-color: #ff0000;
}

#custom-hypridle,
#idle_inhibitor {
  color: #f9e2af;
}

#custom-hypridle.notactive,
#idle_inhibitor.activated {
  color: #39ff14;
}

#mpd {
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#custom-language {
  color: #7da6ff;
}

#custom-separator {
  color: #606060;
}
